<template name="postPage">
  <div class="post-page page">
    {{> postItem}}
    
    <div class="comments">
           
      {{#each comments}}
       
        {{> commentItem}}
       
      {{/each}}
    </div> 

    {{#if notEnd}}
    <div><a class="load-more" href="{{nextPathComments}}">Load more</a></div>
    <div><a class="load-more" href="{{toEndComments}}">Go to last comment</a></div>
    {{/if}}

    {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>Please log in to leave a comment.</p>
    {{/if}}
  </div>
</template>