<template name="commentEdit">
  <form class="main form page">
    
    <div class="form-group {{errorClass 'body'}}">
      <label class="control-label" for="body">Text</label>
      <div class="controls">
          <input name="body" id="body" type="text" value="{{body}}" placeholder="Type your text" class="form-control"/>
          <span class="help-block">{{errorMessage 'body'}}</span>
      </div>
    </div>
    
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete comment</a>
  </form>
</template>